@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FBFCFF;
}

.BEheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #223843;
    font-family: 'Amaranth', sans-serif;
}

.logo {
    margin-left: 25px;
    font-size: 35px;
}

.logo a {
    color: #FBFCFF;
    text-decoration: none;
}

.frontEnd {
    margin: 20px;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    color: #EDDDD4;
    border: 1px solid #EDDDD4;
    opacity: 0.6;
    border-radius: 10%;
    transition: background 50ms ease-in-out, transform 150ms ease, opacity 100ms;
}

.frontEnd:hover {
    cursor: pointer;
    opacity: 1;
}

.frontEnd:active {
    transform: scale(0.97);
}

.mainGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.sideBar {
    margin-top: 10px;
    padding-left: 10px;
    background-color: white;
    width: 200px;
}

.NavCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}

.NavCard a {
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    color: #223843;
    text-decoration: none;
}

.NavCard a:hover {
    cursor: pointer;
    color: #68B0AB;
}

.BEmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 40px 0px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
    font-family: 'Overlock', cursive;
}

.tableHeadings th {
    font-weight: bolder;
}

th,
td {
    border: 1px solid #223843;
    padding: 15px;
    text-align: center;
}


.p7Buttons {
    font-family: 'Overlock', cursive;
    margin: 20px 0px 20px 0px;
    width: 250px;
    height: 50px;
    background-color: #223843;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.p7Buttons:active {
    transform: scale(0.97);
}

.p7Buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FBFCFF;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    font-family: 'Overlock', cursive;
}

.form h1 {
    align-self: center;
    color: #223843;
}

.form input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.form label {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-start;
    margin: 25px 0px 25px 0px;
}

/* Backend9 */

.UserList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.UserList form {
    display: flex;
    justify-content: center;
}

.UserList form select {
    margin-left: 5px;
}

.addUser {
    background-color: #223843;
    border: none;
    color: #FBFCFF;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Overlock', cursive;
    cursor: pointer;
    border-radius: 4px;
}

.deleteEditUser {
    background-color: #223843;
    border: none;
    color: #FBFCFF;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Overlock', cursive;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.p9but {
    transition: all 100ms ease-out;
}

.p9but:focus {
    outline: none;
}

.p9but:active {
    text-decoration: none;
    border: none;
    outline: none;
    transform: scale(0.97);
}

.profile-picture {
    display: flex;
    flex-direction: column;
}

#p10Heading {
    font-family: 'Overlock', cursive;
}

.profile-picture .profileBut {

    background-color: #223843;
    border: none;
    color: #FBFCFF;
    padding: 6px;
    text-decoration: none;
    font-family: 'Overlock', cursive;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

.userForm {
    margin-top: 30px;
}

.userForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overlock', cursive;

}

.userForm form label {
    align-self: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.userForm form input {
    margin-top: 5px;
    width: 100%;
}

#p10Save {
    margin-top: 20px;
}


.userTable input {
    padding: 2px;
    font-style: italic;
    border-radius: 3px;
    border: 2px solid #ccc;
}

.userTable td {
    border: 0;
}

.list-item-image {
    border-radius: 50%;
    width: 64px;
    margin: 10px;
}

.list-item-content {
    padding-right: 20px;
}

.list {
    background: white;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
    font-family: 'Overlock', cursive;
}

.list-item {
    display: flex;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-item:last-child {
    border-bottom: none;
}





#orderStatus {
    width: 100%;
    height: 35px;
    border: 2px solid #ccc;
    border-radius: 3px;
}

/* BackEnd input, buttons etc.  */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #223843;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #FBFCFF;
}

.addDeleteEditbutton {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 30px 0px 30px 0px;
}

.addDeleteEditbutton .inner-addDeleteEditbutton {
    display: flex;
    justify-content: center;
}

.inner-addDeleteEditbutton a {
    font-family: 'Overlock', cursive;
    background-color: #FBFCFF;
    border: none;
    color: #223843;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.inner-addDeleteEditbutton a:hover {
    cursor: pointer;
    color: #68B0AB;
}

.inner-addDeleteEditbutton a:active {
    transform: scale(0.97);
}

input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overlock', cursive;
    font-size: 20px;
    width: 100%;
    height: 45px;
    background-color: #223843;
    color: #FBFCFF;
    margin-top: 35px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 100ms ease-out;
}

input[type=submit]:active {
    transform: scale(0.99);
}


@media (max-width: 800px) {
    .mainGrid {
        flex-direction: column;
    }

    .sideBar {
        width: 100%;
        height: 200px;
        padding-left: 0px;
    }

    .NavCard {
        text-align: center;
        height: 100%;
    }

    .productsTable {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .tableHeadings {
        display: none;
    }

    table,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    tr {
        border: 1px solid #223843;
    }

    tr {
        margin-bottom: 70px;
    }

    td {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
        font-family: 'Overlock', cursive;
        padding-left: 55%;
    }

    td::before {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        height: 100%;
        width: 50%;
        border-right: 1px solid #223843;
    }

    .tableList td:nth-of-type(1):before {
        content: "ID";
    }

    .tableList td:nth-of-type(2):before {
        content: "Image";
    }

    .tableList td:nth-of-type(3):before {
        content: "Name";
    }

    .tableList td:nth-of-type(4):before {
        content: "Quantity";
    }

    .tableList td:nth-of-type(5):before {
        content: "";
    }

    /* backend1 11  */

    .tableOrderList td:nth-of-type(1):before {
        content: "Order ID";
    }

    .tableOrderList td:nth-of-type(2):before {
        content: "Customer ID";
    }

    .tableOrderList td:nth-of-type(3):before {
        content: "Customer Name";
    }

    .tableOrderList td:nth-of-type(4):before {
        content: "Order Date";
    }

    .tableOrderList td:nth-of-type(5):before {
        content: "Number of items";
    }

    .tableOrderList td:nth-of-type(6):before {
        content: "Status";
    }

    .tableOrderList td:nth-of-type(7):before {
        content: "";
    }
}
